<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestión_de_Recursos_Tecnológicos.Properties.Settings.Gestión_de_Recursos_TecnológicosConnectionString"
            connectionString="Data Source=CHONGOPC\SQLEXPRESS;Initial Catalog=&quot;Gestión de Recursos Tecnológicos&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>